.main{
    display: flex;
    background-color: rgb(210, 152, 227);
    border: 2px solid black;
    margin: 120px auto;
    width: 80%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.main-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-info h1{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
#ipFinderBtn{
    width: 200px;
    height: 60px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    background: #f15858;
    cursor: pointer;
}
#ipInformation{
    min-height: 200px;
    width: 300px;
    border: 1px solid black;
    background: #b0a5f1;
    margin-bottom: 20px;
    padding: 10px;
}